@charset "utf-8";
/* CSS Document 公共样式表*/
body{
	margin:0;
	padding:0;
	border:0;
	background:#EFEFEF;
	width:100%;
	font-family:abel,'微软雅黑';
	font-size: 14px;
	color:#0E0D0D;
}
img{
	border:none;
}
@font-face{
	font-family: 'number';
	src:url("../fonts/number.ttf");
}
/*设置a链接样式*/
a{
	color:#444;
	text-decoration:none;
}
a:hover{
	color:#f60;
}
ul,li{
	list-style: none;
}
/*定义整站默认宽度*/
.w1226{
	width:1226px;
	min-width:1226px;
	margin:0 auto;
}
/*定义内容主模块hover样式*/
.height_hover:hover{
	box-shadow: 0 0 5px 5px #ccc;
}
/*浮动功能*/
.left{
	float:left;
}
.right{
	float:right;
}
.clear::after{
	display:block;
	content:' ';
	clear:both;
}
/*输入框样式*/
input{
	margin:0;
	padding:0;
}
input:hover{
	box-shadow:0 0 5px 1px #ccc;
}
input[type=button]{
	border:1px solid #ccc;
	color:#0e0d0d;
}
input[type=button]:hover{
	background:#f60;
	color:#fff;
	cursor:pointer;
	border:none;
}
.input_upload {
	position:relative;
}
.input_upload input[type=file]{
	top:0;
	left:0;
	opacity:0;
}
.input_upload input[type=file]:hover{
	cursor:pointer;
}
.input_upload input[type=text]{
	position:absolute;
	top:0;
	left:0;
	display: inline-block;
	border:solid 1px #ddd;
	text-align: center;
	cursor: pointer;
}
/*状态信息样式*/
.info{
	display: inline-block;
	width:32px;
	height:32px;
}
.info_ok{
	display: inline-block;
	width:32px;
	height:32px;
	background:url(../images/icon/ok_green.png) no-repeat center / 22px 22px;
}
.info_no{
	display: inline-block;
	width:32px;
	height:32px;
	background:url(../images/icon/no_red.png) no-repeat center / 22px 22px;
}
.info_tan{
	display: inline-block;
	width:32px;
	height:32px;
	background:url(../images/icon/tan_red.png) no-repeat center / 22px 22px;
}
.border_no{
	border:solid 1px #FF0000;
}
/*通用网站页头*/
.header{
	width:100%;
	height:72px;
	background:rgba(255,255,255);
	border-bottom: 1px solid rgba(20,20,50,.3);
	box-shadow: 0 0 5px 1px rgba(50,50,50,.5);
}
/*顶部导航栏*/
.top_nav{
	height:72px;
}
.logo{
	width:300px;
	line-height: 72px;
	overflow: hidden;
}
.nav_list{
	width:600px;
	height: 72px;
}
.nav_ul li{
	float: left;
	line-height: 72px;
}
.nav_ul li a{
	border:1px solid rgba(0,0,0,.0);
	border-radius:5px;
	padding:10px 15px;
	margin:5px;
}
.nav_ul li a:hover{
	text-decoration:none;
	border:1px solid #f60;
}
.user_info{
	width:300px;
	height: 72px;
}

.user_info li{
	width:50px;
	height:50px;
	line-height:50px;
	float: right;
	margin-left:15px;
	margin-top: 11px;
	position:relative;
}

.user_img{ 
	border-radius:50%;
	border:1px solid #eee;
	background:url(../images/user_img.jpg) no-repeat center / 40px 40px;
}
.user_img:hover{
	
	border:1px solid #f60;
}

.user_state{
	margin-right:20px;
	text-align: right;
	background:url(../images/icon/small.png) no-repeat center / 26px 26px;
}
.user_state:hover{
	background:url(../images/icon/small_hover.png) no-repeat center / 26px 26px;
	cursor: pointer;
}
/*头像弹出的选项框*/
.user_img_manage{
	display: none;
	position:relative;
	top:51px;
	width:50px;
	text-align: center;
	border-bottom:solid 1px #ddd;
	background:#fff;
}
.user_img_manage a{
	display:block;
	line-height: normal;
	width:100%;
	padding:10px 0;
	
}
.user_img_manage a:hover{
	background:#f60;
	color:#fff;
	text-decoration:none;
}

/*页脚样式*/
.footer{
	text-align: center;
	margin-top:200px;
	width:100%;
	height:50px;
	line-height: 50px;
}
.cursor{
	cursor: pointer;
}

/**paging分页*/
.paging{
	margin:10px auto;
	height:30px;
	text-align: center;
	font-size: 0;
}
.paging a{
	display:inline-block;
	font-size: 14px;
	margin:0 5px;
	padding:2px 10px;
	line-height: 30px;
	background:#ddd;
	border-radius:2px;
}
.paging a:hover{
	text-decoration:none;
	color:#fff;
	background:#f90;
}
/*网站模块背景*/
.max_height{
	background:#fff;
	box-shadow: 0 0 5px 5px #ddd;
	padding: 30px 0;
	margin-top:30px;
	border-radius:10px;
}

/*订单列表*/
.order_nav{
	width:1180px;
	height:30px;
	overflow: hidden;
	margin:0 auto;
	font-size:0;
	border: solid 1px #ddd;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
}
.order_nav li{
	display: inline-block;
	font-size: 14px;
	vertical-align: top;
	padding:5px 0px;
	background:#ddd;
	border-left: solid 1px #ccc;
	margin-left:-1px;
	text-align: center;
}

.order_list{
	width:1180px;
	margin: 0 auto;
	font-size:0;
	border: solid 1px #ddd;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}
.order_list ul:nth-child(2n){
	background:#f6f5f4;
}
.order_list li{
	display: inline-block;
	height: 50px;
	line-height: 50px;
	font-size: 14px;
	vertical-align: top;
	padding:13px 0px;
	border-left: solid 1px #ccc;
	margin-left:-1px;
	text-align: center;
}
.order_list ul:hover{
	background:#E5e6e7;
	color:#444;
	cursor: pointer;
}
.order_nav li:nth-child(1)
,.order_list li:nth-child(1){
	width:60px;
}
.order_nav li:nth-child(2)
,.order_list li:nth-child(2){
	width:60px;
}
.order_nav li:nth-child(3)
,.order_list li:nth-child(3){
	width:100px;
}
.order_nav li:nth-child(4)
,.order_list li:nth-child(4){
	width:100px;
}
.order_nav li:nth-child(5)
,.order_list li:nth-child(5){
	width:400px;
}
.order_nav li:nth-child(6)
,.order_list li:nth-child(6){
	width:100px;
}
.order_nav li:nth-child(7)
,.order_list li:nth-child(7){
	width:70px;
}
.order_nav li:nth-child(8)
,.order_list li:nth-child(8){
	width:110px;
}
.order_nav li:nth-child(9)
,.order_list li:nth-child(9){
	width:100px;
}
.order_nav li:nth-child(10)
,.order_list li:nth-child(10){
	width:80px;
}
/*整站弹窗样式*/
.alert_info{
	position:fixed;
	top:0;
	bottom:0;
	left:0;
	right:0;
	background:rgba(50,50,50,.1);
	display:none;
}
.alert_info .alert_info_centent .alert_info_text{
	text-align: center;
}
.alert_info .alert_info_centent{
	position: absolute;
	top:0;
	right:0;
	bottom:0;
	left:0;
	margin:auto;
	width:500px;
	height:250px;
	background:rgba(250,250,250,.95);
	border:solid 1px #ccc;
	border-radius:5px;
	box-shadow:0 0 5px 5px #ccc;
	padding: 25px;
}
.alert_info .alert_info_button{
	position: absolute;
	bottom:10px;
	margin:0 auto;
	width:100%;
	height:30px;
	text-align: center;
}
.alert_info .alert_info_button input[type=button]{
	width:100px;
	height:30px;
	background:#ddd;
	border:solid 1px #ccc;
	border-radius:3px;
	color:#444;
	margin-right:50px;
	cursor:pointer;
}
.alert_info .alert_info_button input[type=button]:hover{
	background:#f90;
	color:#fff;
	box-shadow: none;
	border:none;
}







